<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>912559097568-68eimrn1tor4r6hq5qc8io41slkhin97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912559097568-68eimrn1tor4r6hq5qc8io41slkhin97</string>
	<key>API_KEY</key>
	<string>AIzaSyDDepBzk3MtbuMPPXWdZ75OQH-PTj0UpUA</string>
	<key>GCM_SENDER_ID</key>
	<string>912559097568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ExplogFB</string>
	<key>PROJECT_ID</key>
	<string>explogfb-6e5b4</string>
	<key>STORAGE_BUCKET</key>
	<string>explogfb-6e5b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912559097568:ios:5416648753677825</string>
	<key>DATABASE_URL</key>
	<string>https://explogfb-6e5b4.firebaseio.com</string>
</dict>
</plist>